header{
    background: rgba(55, 58, 58, 0.8);
    color: white;
}
body{
    background-color: rgb(217, 235, 229);
}
h1{
    text-align: center;
}
li {
    height: 30px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
}

li a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    padding: 8px;
    width: 100%;
}


ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0%;
}
footer{
    text-align: center;
    background: rgba(55, 58, 58, 0.8);
    color: white;
    padding: 20px;
}
#casa{
    text-align: center;
}
#inicio{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.title{
    display: grid;
    grid-template-columns: 7fr 3fr;
}
fieldset{
    width: 500px;
    height: 500px;
}
div{
    display: flex;
    justify-content: space-around;
}
#enviar{
    text-decoration: none;
    color: black;
    border: 1rem;
    padding: 10px 3px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
}