header{
    background: rgba(55, 58, 58, 0.8);
    color: white;
}
body{
    background-color: rgb(217, 235, 229);
}
h1{
    text-align: center;
}
li {
    height: 30px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
}

li a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    padding: 8px;
    width: 100%;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0%;
}
footer{
    text-align: center;
    background: rgba(55, 58, 58, 0.8);
    color: white;
    padding: 20px;
    
}
#casa{
    text-align: start;
}
#inicio{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.title{
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.billetes{
    display: flex;
    justify-content:space-around;
}
div img:hover{
    width: 320px;
    height: 220px;
    cursor: pointer;
}
h1 a:hover{
    color: red;
}
.seccion{
 background-color: cadetblue;
 padding: 1rem;
}
h1 a{
    text-decoration: none;
    color: black;
}
#imageninicio{
    width: 100%;
    height: 35rem;
}