h1{
    text-align: center;
}
li {
    background: rgba(123, 198, 199, 0.8);
    height: 30px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
}

li a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    padding: 8px;
    width: 100%;
}


ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0%;
}